#seccionNombre{
    padding-top: 250px;
    padding-block-end: 250px;
}
.nombre {
    font-size: 10vw;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}
.subtitulo1 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}
.fotoPerfil {
    width: 20%;
    height: 20%;
}

.logoTecnologias {
    width: 30%;
    height: 30%;
}

#seccion1 {
    margin: 0rem 0 10rem 0;
    padding-top: 3rem;
}

#seccion1 p {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
    color: white;
}

.cabecera{
    font-weight: bold;
}

.habilidades ul{
    list-style: none;
    padding-left: 0;
}

.titulo {
    text-align: center;
}

.logos {
    width: 80%;
    display: flex;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: calc(10vh - 50px);
}

.logos-slide {
    animation: 30s slide infinite linear;
    img{
           height: 50px;
           margin: 0px 70px;
       }
}

.logos::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 200;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255));
    content: " ";
    z-index: 1;
}

.logos::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 200;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255));
    content: " ";
    z-index: 1;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.responsive {
    width: 100%;
    height: auto;
}

.redesSociales {
    height: 650px;
    
}

.redesSociales .seccionContacto {
    color: white;
}
.tituloFooter {
    color: #3067FF;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.subtituloFooter {
    margin-top: 25px;
}

.iconoRedes {
    font-size: 30px;
}

.infoContacto {
    margin-top: 35px;
}
.medioContacto {
    margin-top: 70px;
}

.formularioContacto {
    border-radius: 10px;
    border-color: red;
    background-color: aqua;
    margin-top: 25px;
}

.side1 {
    background-color: #242627;
}
.side2 {
    background-color: #242627;
}








