@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-ms-12">
            <center><h1>Experiencia</h1></center>
            <center><h1>Laboral</h1></center>
            
            <br />
            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <strong>Analista Desarrollador</strong>
                        </button>
                    </h2>
                    @* <span class="time">2021-presente</span> *@
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-group">
                                        
                                        <li class="list-group-item">Frontend</li>
                                        <li class="list-group-item">Backend</li>
                                        <li class="list-group-item">Consultas SQL</li>
                                        <li class="list-group-item">Gestion BD</li>
                                    </ul>
                                </div>
                                
                                <div class="col-6"><center><img src="~/imagenes/logo-let.svg" sytle="" class="responsive" alt="Alternate Text" /></center></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            <strong>Analista Desarrollador</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

